.taskManager {
  margin: 20px auto;
  padding: 20px;
  border: none;
  border-radius: 8px;
  width: 100%;
  max-width: 400px; /* Responsive max width */
  text-align: center;
  background-color: opecity(0.9);
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* Ensure the input size includes padding */
}

.buttonGroup {
  margin-bottom: 20px;
}

.addButton {
  width: 40%;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #077734;
  opacity: 0.9;
}

.tasksContainer {
  margin-top: 20px;
  text-align: center;
}

.taskItem {
  padding: 12px 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 20px;
  background-color: #007bff;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.taskItem:hover {
  background-color: #077734;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
